[user]
	email = arthur@micropsi-industries.com
	name = arthurrauter
[core]
	editor = vim
[color "status"]
    branch = yellow bold
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
